/package-lock.json filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-Bold-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-DemiBold-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-ExtraLight-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-Fat-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-Hairline-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-Light-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-Regular-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Display-Thin-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-Bold-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-DemiBold-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-ExtraLight-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-Hairline-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-Light-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-Regular-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-SmallCaps-Thin-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-Bold-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-DemiBold-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-ExtraLight-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-Hairline-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-Light-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-Regular-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Aristotelica-Text-Thin-trial.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]427318897.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]49[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]49[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]49[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]49.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]8.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20390[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20390[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20390[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20390.png filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Gilroy-Medium.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Gilroy-SemiBold.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]4.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/cloud.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/World[[:space:]]Map[[:space:]]1.png filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Gilroy-Bold.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Gilroy-ExtraBold.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Gilroy-Regular.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20752.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20753.png filter=lfs diff=lfs merge=lfs -text
/dist.zip filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Thumb[[:space:]]001-04.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/images/thumb.jpg filter=lfs diff=lfs merge=lfs -text
/src/assets/fonts/Gilroy-Black.ttf filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Group[[:space:]]20667.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/qa.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/sdc.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/emergingpic.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Rectangle[[:space:]]1738[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Rectangle[[:space:]]1738[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Rectangle[[:space:]]1738.png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]427318897[[:space:]](8).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]49[[:space:]](8).png filter=lfs diff=lfs merge=lfs -text
/src/assets/images/Frame[[:space:]]49[[:space:]](9).png filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
